<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>ToDo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
