<ion-header>
    <ion-toolbar>
      <ion-title>News</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Top headlines from TechCrunch</ion-card-title>
      </ion-card-header>
          
    </ion-card>
    <ion-list>
      <ion-item href="/tabs/detail/{{i}}" *ngFor="let item of newsArray; let i = index">
           <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
           <ion-label> {{item.title}}</ion-label> 
      </ion-item>
    </ion-list>  
  </ion-content>



    
    