<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header>
        <ion-card-subtitle>by Arjinder Kaur</ion-card-subtitle>
        <ion-card-title>HomeWork3 App</ion-card-title>
      </ion-card-header>
      
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Assignment</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
        <ion-label>Tab2 -> Top headlines from TechCrunch right now </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
        <ion-label>Tab3 -> Create and Edit To do List</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
