<ion-header>
    <ion-toolbar>
      <ion-title>Create and Edit To Do List</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content>

    <div class="container">
      
      <div class="container addNew ">
          <ion-icon name="add-circle"></ion-icon>
          <input type="text" #newToDo placeholder="Enter New To Do Text" class="itembox">
          <ion-button (click)="addTodo(newToDo.value);newToDo.value='';" class="itembox">Add Todo
            </ion-button>
      </div>
      <div>
            <strong>Todo List</strong> (Drag n Drop to rearrange)
      </div>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" class="subcontainer">
          
        <ion-item *ngFor="let item of todoList; let i= index;" >
                <ion-reorder class="container">
                <ion-label>
                    {{item}}
                  </ion-label>
                </ion-reorder>
                  <ion-button (click)="deleteTodo(i)">Delete
                  </ion-button>
        </ion-item>
      </ion-reorder-group>

    </div>
    
  </ion-content>



    
    
  
  
  
      
  