.container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 40px;
}
.subcontainer {
    width: 90%;
    position: relative;
    display: inline-block;
}
.addNew {
    margin: 20px;
}
button {
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
}
.itembox {
    margin-left: 20px;
}
