<ion-header>
  <ion-toolbar>
    <ion-title>News detail...</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header *ngIf ="flag == 1">
      <ion-card-subtitle>{{ newsitem.author }}</ion-card-subtitle>
      <ion-card-title>{{ newsitem.title }}</ion-card-title>
    </ion-card-header>      
  </ion-card>

  <ion-list>
    <div *ngIf ="flag == 1"> 
      <ion-item>
        <ion-label>{{newsitem.publishedAt}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-content>{{ newsitem.content }}</ion-content>
      </ion-item>
      
      <ion-item> 
        <a href= "{{ newsitem.url }}" >{{ newsitem.url }}</a>  
      </ion-item> 
      
    </div>  
  </ion-list>

  

</ion-content>








  



  